#This is an example of what your .env file should look like. Check the README for detailed instructions on how to fill out each section

#API Authentication
  API_KEY=038b04263ef923ba1b984207b33c64184c2ba9ff2fadc69627b2f770833d6
  API_SECRET=0397827dcb040e7f7bb2446beb2c019388e356f34393ac8bf09344f92c2ef0d

#Investment Settings
  INTERVAL_INVESTMENT_AMOUNT_USD=.5
  INVESTMENT_INTERVAL_HNS=sixhours
  INVESTMENT_ORDER_TYPE=limit

#Other
  TESTING_MODE=true
